name: Build

on: [push]

jobs:
  build:
    name: Build Content
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: yarn
          cache-dependency-path: documentation/yarn.lock
      - name: Install Dependencies
        working-directory: documentation
        run: yarn install --frozen-lockfile
      - name: Build website
        working-directory: documentation
        run: yarn build
